version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=socialmeli
      - POSTGRES_PASSWORD=socialmeli
      - POSTGRES_DB=socialmeli
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migration:/docker-entrypoint-initdb.d # Executa migraçōes na inicializaçāo
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U socialmeli -d socialmeli"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: # Volume será criado automaticamente